{% extends 'tasks/main.html' %}
{% block card_header %}
    <div class="d-flex">
        <h5>{{ request.user.username|capfirst }}'s tasks</h5>
        <a class="btn btn-outline-danger btn-sm col-2 ms-auto" href="{% url 'user-logout' %}">Logout</a>
    </div>
    <p class="fs-6 opacity-50">You have {{ count }} incomplete tasks</p>
    <form method="GET" class="d-flex" role="search">
        <input class="form-control me-2" type="search" name="search_bar" value="{{ search_input }}" aria-label="Search">
        <button class="btn btn-outline-light" type="submit">Search</button>
    </form>
{% endblock card_header %}
{% block card_body %}
    <div class="d-grid gap-2 my-1 mx-auto col-5 bg-gradient opacity-75">
        <a class="btn btn-success btn-sm" href="{% url 'task-create' %}">Create</a>
    </div>
    {% for task in tasks %}
        <li class="list-group-item d-flex gap-2">
            {% if not task.is_completed %}
                <a class="link-dark" href="{% url 'task-edit' task.id %}">{{ task }}</a>
            {% else %}
                <a class="link-dark" href="{% url 'task-edit' task.id %}"><s>{{ task }}</s></a>
            {% endif %}
            <a class="link-danger" href="{% url 'task-delete' task.id %}">Delete</a>
        </li>
    {% endfor %}
{% endblock card_body %}
