{% extends 'tasks/main.html' %}
{% block card_header %}
    <h5>Register</h5>
{% endblock card_header %}

{% block card_body %}
    <form action="" method="POST" class="mt-1">
        {% csrf_token %}
        {% for field in form %}
            <div>
                <label for="" class="form-label">{{ field.label }}</label>
                {{ field }}
            </div>

        {% endfor %}
        <div class="d-grid gap-2 my-1 mx-auto col-5 bg-gradient opacity-75">
            <button class="btn btn-success btn-sm" type="submit">Edit</button>
        </div>
    </form>
    <hr>
    <div class="d-grid col-5 mx-auto">
        <a class="btn btn-outline-danger btn-sm align-items-center my-1" href="{% url 'tasks-view' %}">Go back</a>
    </div>
{% endblock card_body %}

